@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
}
:root {
  --blue: #4594e1;
  --white: #fff;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 50px;
  pointer-events: none;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
  align-items: center;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10 10px;
  margin-top: 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid black;
}
.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 200px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
.user ion-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #4594e1;
}
.navigation.active {
  width: 80px;
}

.board-cards {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.board-cards section {
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.board-cards section p ion-icon {
  color: #4594e1;
  font-size: 30px;
}
.board-cards section p {
  font-weight: bolder;
}

.board-cards section button {
  cursor: pointer;
  width: 200px;
  margin: auto;
  border: none;
  height: 50px;
  border-radius: 20px;
  color: white;
  background: #4594e1;
}
#pageModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);

  align-items: center;
  justify-content: center;
  z-index: 10;
}
#pageModal img {
  width: 200px;
  height: 200px;
}

#studentModal {
  background-color: rgba(230, 224, 224, 0.61);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}
#getBestStudents-box {
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  border: 0.5px solid rgba(128, 128, 128, 0.514);
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
#getBestStudents-box h3 {
  text-align: center;
  padding-bottom: 5px;
  font-size: 16px;
}
.search-card {
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  width: 100%;
}

#btn3 {
  cursor: pointer;
  width: 200px;
  margin-top: -30px;
  border: none;
  height: 50px;
  border-radius: 20px;
  color: white;
  background: #4594e1;
}
.card {
  color: var(--blue);
  display: flex;
  width: 50%;
}
/* //////////////////////////////////////////Mobile-view//////////////////////////////////////////////// */

@media only screen and (max-width: 768px) {
  .topbar {
    width: 75vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10 10px;
    margin-top: 0px;
    gap: 5px;
  }
  .user ion-icon {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 50px;
    height: 50px; */
    object-fit: contain;
    color: #4594e1;
  }
  .search label ion-icon {
    position: relative;
    /* top: 0;
    left: 10px; */
    font-size: 1.2rem;
  }
  .user {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .search label input {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    margin-top: 10px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }

  .navigation {
    width: 80px;
  }
  .board-cards {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    position: relative;
    width: calc(100% - 300px);
    left: 80px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .toggle {
    display: none;
  }
  .board-cards section {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 70vw;
  }
  #adminUsername {
    display: none;
  }
  #getBestStudents-box {
    width: 80%;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    border: 0.5px solid rgba(128, 128, 128, 0.514);
    padding: 10px;
    /* padding-right: 0px; */
    padding-bottom: 10px;

    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  .search-card {
    padding: 5px;
    font-size: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .search-card .card {
    width: 150px;
  }
}

/* /////////////////////////////////////////////Tablet-view//////////////////////////////////////// */

@media (max-width: 820px) {
  .topbar {
    width: 75vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10 10px;
    margin-top: 0px;
    gap: 5px;
  }
  .user ion-icon {
    object-fit: contain;
    color: #4594e1;
  }
  .search label ion-icon {
    position: relative;

    font-size: 1.2rem;
  }
  .user {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    margin-top: 10px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }
  .search label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search label ion-icon {
    font-size: 30px;
  }
  .navigation {
    width: 80px;
  }
  .board-cards {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    position: relative;
    width: calc(100% - 300px);
    left: 80px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .toggle {
    display: none;
  }
  .board-cards section {
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 70vw;
  }
  #adminUsername {
    display: none;
  }
  #getBestStudents-box {
    width: 80%;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    border: 0.5px solid rgba(128, 128, 128, 0.514);
    padding: 10px;

    padding-bottom: 10px;

    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  .search-card {
    padding: 5px;
    font-size: 15px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .search-card .card {
    width: 150px;
  }
}
